img {
  width: 100%;
}

.landing {
  background-image: url("../img/qp-1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing-body {
  text-align: center;
  margin-top: 92px;
}

.landing-body > p {
  text-align: justify;
}

.jumbotron {
  opacity: 0.9;
}

.jumbotron > .title > .btn {
  opacity: 1;
}
