img {
  width: 100%;
}

.landing {
  background-image: url("../img/bg-softars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.landing-body {
  text-align: center;
}

.landing-jumbotron {
  opacity: 0.9;
  margin-top: 60px !important;
  background-color: white !important;
}

.landing-jumbotron > h1 {
  color: #0078a9 !important;
  font-size: 62px;
}

.landing-jumbotron > p {
  color: black;
  font-size: 31px;
}

.landing-jumbotron > .btn {
  opacity: 1;
}
