/* Login Style */

/* .login {
  background-image: url("../img/qp-1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
} */

form {
  margin-top: 25px;
}
.form-group {
  margin: 0 auto;
  margin-top: 60px;
  font-size: 21px;
  color: #0d0d0d;
  width: 70%;
}

.form-group > h1 {
  color: #007bff;
  font-size: 42px;
  font-weight: 500;
  margin-top: 15px;
}

h4 {
  color: #007bff;
  margin-top: 15px;
  font-weight: 500;
}

.form-control {
  margin-bottom: 15px;
}

.social-icon {
  padding-right: 15px;

  font-size: 2rem;
}
