/* Navbar Style */

.navbar-brand,
ul.navbar-nav > li.nav-item > a {
  font-family: Ubuntu, sans-serif;
  font-size: 24px;
  cursor: pointer;
}

ul.navbar-nav > li.nav-item > a {
  padding-right: 1rem !important;
}

.navbar-brand {
  padding-left: 10px;
}

/* Targeting all a tags in navbar */
.navbar > .container > a,
#navbarMain > ul > li > a {
  color: white !important;
}

/* Targeting all a tags in navbar */
.navbar > a,
#navbarMain > ul > li > a {
  color: white !important;
}
