.main-navbar {
  background: #d6d2d2;
  margin: auto;
  max-width: 1200px;
  border-radius: 5px;
}

.navbar-brand,
.container > ul.navbar-nav > li.nav-item > a {
  font-family: Ubuntu, sans-serif;
  font-size: 24px;
  color: #0078a9 !important;
}

.navbar-nav {
  float: right;
  position: relative;
  bottom: 44px;
  left: 900px;
}
