.profile {
  margin-top: 30px;
}

.profile h4 {
  font-size: 24px;
}

.profile .text-center > .lead {
  color: white;
}

.profile .text-center .profile-occupation {
  color: white;
  font-weight: 500;
}

.profile .info {
  margin-top: 60px;
}

.profile img {
  margin: 0 auto;
  width: 40%;
}

.profile .bio {
  margin-top: 90px;
}

.profile .container-buttons {
  margin-top: 10px;
}

.profile .btn {
  margin-right: 15px;
}

.profile .card {
  margin-bottom: 50px;
}
