.add-profile .form-group {
  margin: 0 auto;
  margin-top: 30px;
  font-size: 21px;
  color: #0d0d0d;
  width: 70%;
}

.add-profile .form-group > h1 {
  color: #007bff;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 20px;
}

.add-profile .form-group > h4 {
  color: #007bff;
  margin-top: 15px;
  margin-bottom: 30px;
}

.add-profile .form-control {
  margin-bottom: 20px;
}
