.profile {
  margin-top: 30px;
}

.profile .card > .text-center > h4,
.profile .card > .text-center > h4 {
  font-size: 24px;
}

.profile .info {
  margin-top: 60px;
}

.profile img {
  margin: 0 auto;
}

.profile .bio {
  margin-top: 90px;
}

.profile .container-buttons {
  margin-top: 10px;
}

.profile .btn {
  margin-right: 15px;
}
