html {
  width: 100%;
}

.projects {
  margin: 0 auto;
}

.title {
  font-weight: 500;
  margin-top: 30px;
  color: #007bff;
}

.table {
  text-align: center;
}

.table th {
  color: white;
}

.jumbotron {
  margin-top: 20px;
  background-color: #70b5ff;
}

.table-striped tbody tr:nth-of-type(2n + 1) {
  background-color: rgba(0, 0, 0, 0);
}

.link-text {
  color: #49fe72;
}
